@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;&family=Roboto:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(1, 19, 103);
  font-family: 'Noto Sans';
  background-color: rgb(222, 238, 255);
}

/*Header*/
/*Barra de navegacion*/
.navbar{
  background-color: rgba(184, 217, 252, 0.584);
}
.nav-pills .nav-link.active,
.show>.nav-pills .nav-link{
    background: rgb(1, 19, 103) !important;
}

/*Footer*/
.footer__div{
    background-color: aquamarine;
}

.icon{
  text-decoration: none;
}
.fa-facebook-f{
  color: rgb(24, 119, 242);
  font-size: 2rem;
  }
.fa-instagram{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem; /* change this to change the size*/
}
.fa-tiktok {
  color:rgb(1, 19, 103);
  font-size: 2rem;
}
.fa-x-twitter{
  color:rgb(119, 119, 119);
  font-size: 2rem;
}
.fa-whatsapp{
  color: rgb(37, 211, 102);
  font-size: 2rem;
}

/*Main inicio*/
.divInicio{
  border: 2px solid rgb(1, 19, 103);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.6);
  }


/*Main medicamentos*/


/*Main Tienda*/
.card{
  border: 2px solid rgb(1, 19, 103);
  margin: 0 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 10px 10px 10px -5px rgba(0,0,0,0.6);
  }

.priceCard{
  color:rgb(126, 205, 15);
  font-weight: bold;
  font-size: 1.2rem;
  background-color: rgb(1, 19, 103);
  text-align: center;
}
/*Main Noticias*/

/*Main Contacto*/

.sendButton{
  background-color: rgb(1, 19, 103);
  border-color: rgb(1, 19, 103);
}

/*Responsive*/
@media screen and (max-width: 991px) {
  .navbar-brand{
    display: none;
  }
  .noticias{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  }
